body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #0f0f0f;
    color: #fff;
}

.app-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header h1 {
    text-align: center;
    color: #0ff;
    text-shadow: 0 0 10px #0ff;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.indicator {
    background: #1a1a1a;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    flex: 1 1 180px;
    text-align: center;
    box-shadow: 0 0 10px #0ff;
}

.forms {
    background: #111;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.forms h2 {
    color: #0ff;
    margin-top: 0;
}

.forms form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.forms input, .forms button {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
    font-size: 1em;
}

.forms button {
    background-color: #0ff;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.forms button:hover {
    background-color: #0cc;
}

.graficos {
    background: #111;
    padding: 15px;
    border-radius: 10px;
}

canvas {
    background: #1a1a1a;
    border-radius: 10px;
  }
